
.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    
}

/* --- Main Content Section --- */

main {    
    background: linear-gradient(145deg, #f7fbff, #eaf3ff); 
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 85%;
    margin: 50px auto;
    line-height: 1.6;
}
fieldset {
    border: none;
}
.personal-details {
    border-bottom: 2px solid #00367c;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
h3 {
    font-size: 20px;
    font-weight: 500;
    color: #64748b; 
    margin-bottom: 20px;
    margin-top: 15px;
}
.form-row {
    display: flex; 
    gap: 20px;
    margin-bottom: 20px;
}
.form-row2 {
    gap: 20px;
    margin-bottom: 20px;
}
.form-group {
    flex:1;
    display:flex;
    flex-direction: column;
}
.form-group2 {
    flex:1;
    display:flex;
    flex-direction: column;
}
button {
    background-color: #4a6cf7;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 14px 25px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: block; 
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #3b5ed7;
}

